<h1>This is the home page</h1>

<%= link_to 'Blog', articles_path %> | <%= link_to 'About', about_path %><br>


<iframe width="560" height="315" src="https://www.youtube.com/embed/quK8x6P1MKI" frameborder="0" allowfullscreen></iframe>