<div class="center jumbotron">
    
    <h1>This is the home page</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/quK8x6P1MKI" frameborder="0" allowfullscreen></iframe>
    <br>
    <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-xlarge" %>

</div>